v2.0/WebApplication/web/WEB-INF/wsdl/localhost_8080/Identity-Service/UpdateUser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.identityservice.grosheeran.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.identityservice.grosheeran.com/">

<xs:element name="updateUser" type="tns:updateUser" />

<xs:element name="updateUserResponse" type="tns:updateUserResponse" />

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
<xs:element name="driver" type="xs:int" />
<xs:element name="image" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>