v2.0/WebApplication/src/conf/xml-resources/web-service-references/HideOrderFromUser/wsdl/localhost_8080/Ojek-Service/HideOrderFromUser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.ojekservice.grosheeran.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ojekservice.grosheeran.com/">

<xs:element name="hideOrderFromUser" type="tns:hideOrderFromUser" />

<xs:element name="hideOrderFromUserResponse" type="tns:hideOrderFromUserResponse" />

<xs:complexType name="hideOrderFromUser">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hideOrderFromUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>