v2.0/WebApplication/src/conf/xml-resources/web-service-references/GetRatingFromOrderId/wsdl/localhost_8080/Ojek-Service/GetRatingFromOrderId.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.ojekservice.grosheeran.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ojekservice.grosheeran.com/">

<xs:element name="getRatingFromOrderId" type="tns:getRatingFromOrderId" />

<xs:element name="getRatingFromOrderIdResponse" type="tns:getRatingFromOrderIdResponse" />

<xs:complexType name="getRatingFromOrderId">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRatingFromOrderIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rating" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rating">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="orderId" type="xs:int" />
<xs:element name="rating" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>