v2.0/WebApplication/src/conf/xml-resources/web-service-references/AddPreferredLocation/wsdl/localhost_8080/Ojek-Service/AddPreferredLocation.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.ojekservice.grosheeran.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ojekservice.grosheeran.com/">

<xs:element name="addPreferredLocation" type="tns:addPreferredLocation" />

<xs:element name="addPreferredLocationResponse" type="tns:addPreferredLocationResponse" />

<xs:complexType name="addPreferredLocation">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0" />
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPreferredLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>